[submodule "jpdasm"]
	path = jpdasm
	url = https://github.com/blkerby/jpdasm.git
	branch = ai-annotated
[submodule "asar"]
	path = asar
	url = https://github.com/blkerby/asar.git
[submodule "usdasm"]
	path = usdasm
	url = https://github.com/spannerisms/usdasm.git
